<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <%
    var title = page.title || '';

    if (is_archive()) {
      title = __('archive_title');
      if (is_month()) {
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()) {
        title += ': ' + page.year;
      }
    } else if (is_category()) {
      title = __('category_title') + ': ' + page.category;
    } else if (is_tag()) {
      title = __('tag_title') + ': ' + page.tag;
    }

    description = '';
    if (is_home()) {
      title = config.title;
      if (page.current && page.current > 1) {
        title = 'page ' + page.current + ' | ' + config.title;
      }
    } else if (page.current && page.current > 1) {
      title = 'page ' + page.current + ' | ' + title + ' | ' + config.title;
    } else if (is_post()) {
      title = title + ' | ' + config.title;
    }
    %>

    <title>
      <%= title %> 
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% if (config.author){ %>
      <meta name="author" content="<%= config.author %>">
    <% } %>
    <% if ( is_home() && config.description){ %>
      <meta name="description" content="<%= config.description %>">
    <% } %>
    
    <%- open_graph({title: title}) %>
    <% if (theme.rss){ %>
      <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
      <link rel="icon" type="image/x-icon" href="<%- theme.favicon %>">
    <% } %>
    <%- css('css/uno.css') %>
    <%- css('css/highlight') %>
    <%- css('css/archive.css') %>
    <%- css('css/china-social-icon.css') %>


    <!-- hc: load custom -->
    <%         var hc_custom="";                                                    %>
    <%         if (theme.hc_custom){                                                %>
    <%             hc_custom = theme.hc_custom;                                     %>
    <%         }                                                                    %>
    <%         if (config.hc_custom){                                               %>
    <%             hc_custom = config.hc_custom;                                    %>
    <%         }                                                                    %>
    <%         if (page.hc_custom){                                                 %>
    <%             hc_custom = page.hc_custom;                                      %>
    <%         }                                                                    %>                                                                    %>
    <% if(hc_custom) {                                                              %>
    <%  var custom_uno_url = 'css/custom_uno/' + hc_custom + '.css';                %>
    <%- css(custom_uno_url)                                                         %>
    <% } %>
    <!-- hc: load custom end -->

</head>
<body>

    <%- partial('_partials/side-panel') %>

    <div class="content-wrapper">
        <div class="content-wrapper__inner entry">
            <%- body %>
            <%- partial('_partials/footer') %>
        </div>
    </div>

    <!-- js files -->
    <script src="<%- config.root %>js/jquery.min.js"></script>
    <script src="<%- config.root %>js/main.js"></script>
    <script src="<%- config.root %>js/scale.fix.js"></script>
  <!-- Gitment/Gitalk Support -->
  <% var hc_post_comments=''; %>
  <% if(theme.hc_post_comments) {hc_post_comments= theme.hc_post_comments;} %>
  <% if(config.hc_post_comments) {hc_post_comments= config.hc_post_comments;} %>
  <% if(page.hc_post_comments) {hc_post_comments= page.hc_post_comments;} %>
  <% var hc_github_config=''; %>
  <% if(theme.hc_github_config) {hc_github_config= theme.hc_github_config;} %>
  <% if(config.hc_github_config) {hc_github_config= config.hc_github_config;} %>
  <% if(page.hc_github_config) {hc_github_config= page.hc_github_config;} %>
    <!-- Gitment Support -->
  <% if(hc_post_comments === 'gitment') { %>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
        owner: '<%- hc_github_config.owner %>',
        repo: '<%- hc_github_config.repo %>',
        oauth: {
          client_id: '<%- hc_github_config.client_id %>',
          client_secret: '<%- hc_github_config.client_secret %>',
        }
      })
      if(document.getElementById('gitment-container')){
        gitment.render('gitment-container');
      }
    </script>
<% } %>

<!-- Gitalk Support -->
    <% if(hc_post_comments === 'gitalk') { %>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script>
        var gitalk = new Gitalk({
        clientID: "<%- hc_github_config.client_id %>",
        clientSecret: "<%- hc_github_config.client_secret %>",
        repo: "<%- hc_github_config.repo %>",
        owner:"<%- hc_github_config.owner %>",
            admin: "<%- hc_github_config.admin %>",
            id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: true  // Facebook-like distraction free mode
        })
        if(document.getElementById('gitalk-container')){
          gitalk.render('gitalk-container');
        }
    </script>
<% } %>
    <%- partial('_scripts/mathjax') %>
    <%- partial('_scripts/awesome-toc') %>
    <%- partial('_scripts/site-analytics') %>
    <%- partial('_scripts/github-repo-widget') %>
    <%- partial('_scripts/killie6') %>
</body>
</html>
