<%
var post = page;
%>

<article class="post-container post-container--single">

  <header class="post-header">

    <h1 class="post-title"><%= post.title %></h1>

    <% if (type == 'post') { %>

    <div class="post-meta">
      <time datetime="<%= date(post.date, config.date_format) %>" class="post-meta__date date"><%= date(post.date, config.date_format) %></time>

      <span class="post-meta__tags tags">

            <% if (post.id){ %>
            <font class="post-id">
              &#8226; ID:
              <%- post.id %>
            </font>
           <% } %>

          <% if (post.categories && post.categories.length > 0){ %>
            <font class="categories">
            &nbsp; &#8226; 分类:
            <%- list_categories(post.categories, {
              show_count: false,
              class: 'categories',
              style: 'none'
            }) %>
          </font>
          <% } %>

          <% if (post.tags && post.tags.length > 0){ %>
            &nbsp;  &#8226; 标签:
            <b class="tags">
              <%- list_tags(post.tags, {
                show_count: false,
                style: 'none',
                class: 'tags'
              }) %>
            </b>
          <% } %>

      </span>
    </div>

    <% } %>

  </header>

    <% // hc hide begin %>
    <% if(post.hc_hide) { %>
       <section id="post-content" class="article-content post" style="visibility: hidden;"><%- post.content %></section>
    <% } else { %>
        <section id="post-content" class="article-content post"><%- post.content %></section>
    <% } %>
    <% // hc hide end  %>

  <%- partial('comment') %>
</article>
